* text=auto eol=lf
*.bat text eol=crlf
*.cmd text eol=crlf

*.png binary
*.jpg binary
*.jpeg binary
*.ico binary

GTA线上全车辆清单.html linguist-generated=true -diff
data/site_data.json linguist-generated=true
data/pinyin.json linguist-generated=true
data/deals.json linguist-generated=true
